{% extends "partials/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Payment</title>
</head>
<body>
{% block content %} 
    <img style="width:500px;position:absolute; left:200px" src="{{ chart_data }}" alt="Gráfico de Pizza">
    <div class="col-md-4 mb-1" style="left:650px; top:50px">
        <form method="post" action="{% url "payment" %}">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <label for="value" name="number">Valor do Pagamento:</label>
            <input type="text" class="form-control" id="value" name="number" placeholder="Exemplo:100">
            <br>   
            <button class="btn btn-success" type="submit">Pagar</button>
        </form>
    </div>
    {% if total == number %}
        <div class="col-md-4 mb-1" style="top:400px; right: -300px; text-align:center">
            <i class="success-icon">&#10004;</i>
            <h1>Contas em Dia!</h1>
            <p>Todas as contas foram devidamente pagas e estão em dia. Obrigado pela sua pontualidade!</p>
        </div>
    {% elif total > number %}
        <div class="col-md-4 mb-1" style="top:400px; right: -300px; text-align:center">
            <i class="warning-icon">&#9888;</i>
            <h1>Contas Atrasadas!</h1>
            <h1>R$:(-{{dif|floatformat}})</h1>
            <p>Atenção! Algumas contas estão atrasadas. Por favor, regularize a situação o mais rápido possível.</p>
        </div>
    {% else %}
    <div class="col-md-4 mb-1" style="top:400px; right: -300px; text-align:center">
        <i class="warning-icon">&#9888;</i>
        <h1>Seja bem vindo ao gerenciamento de gastos!</h1>
        <p></p>
    </div>
    {% endif %}

    
{% endblock  %}
</body>
</html>