{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <title>Finance.Py</title>
    <link href="{% static 'css/bootstrap.min.user.css' %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form method = "post"class="form-signin">
      {% csrf_token %}
      <img class="mb-4" src="{% static "img/money.png" %}" alt="" width="110" height="90">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>


      <label for="username" class="sr-only">Username</label>
      <input name="username" id="username" type="text" class="form-control" placeholder="Username">


      <label for="password" class="sr-only">Password</label>
      <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>


      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar usuario</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
    </form>
  </body>
</html>