{% extends "partials/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <form method="post" action="{% url 'shopping' %}">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="id_category">Categoria</label>
                    <select class="custom-select" id="id_category" name="category" required>
                        <option selected disabled value="">Selecione</option>
                        {% for choice in form.category.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_date">Data da compra</label>
                    <input type="date" class="form-control" id="id_date" name="date" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="value">Valor da compra</label>
                    <input type="text" class="form-control" id="value" name="value">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar Compra</button>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
