{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <title>Money-Undercontrol</title>
    <link href="{% static 'css/bootstrap.min.user.css' %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <form method='post' class="form" style="display:absolute">
      {% csrf_token %}
      <div class="container">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <br>
      <img class="mb-4" src="{% static "img/money.png" %}" alt="" width="100" height="90">
      <h1 class="h3 mb-3 font-weight-normal" style="font-family:Verdana">Login</h1>

      <label for="username" class="sr-only">Username</label>
      <input type="username" id="username" name="username" class="form-control" placeholder="Username">
      <br>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password"class="form-control" placeholder="Password" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <hr>
      {% comment %} <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p> {% endcomment %}
    </form>
    <a class="btn btn-primary pt-2 pl-1 pr-1 text-light" style="position:absolute;top:570px;width:200px"  href="{% url "register-user-finance" %}"> Register </a>
    </body>
</html>